<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ViewBag & ViewData</title>
</head>
<body>
    <p>ViewBag: @ViewBag.FirstName @ViewBag.LastName</p>
    <hr />
    <p>ViewData:</p>
    @for (int i = 1; i < 6; ++i)
    {
        <p>@i - @ViewData[i.ToString()]</p>
    }
</body>
</html>