<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>DI</title>
</head>
<body>
    <h2>Dependency Injection</h2>
    <p>Day: @timerService.Now().Day</p>
    <p>DayOfWeek: @timerService.Now().DayOfWeek</p>
    <p>DayOfYear: @timerService.Now().DayOfYear</p>
</body>
</html>