<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>DI</title>
</head>
<body>
    <h2>Dependency Injection</h2>
    <p>Date: @timerService.Now().ToShortDateString()</p>
    <p>Time: @timerService.Now().ToLongTimeString()</p>
</body>
</html>