@*@inject _01_DependencyInjection.Services.IEmailValidator emailValidatorService*@
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>DI</title>
    </head>
    <body>
        <h2>Validation</h2>
    </body>
    </html>