<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Partial Insertion</title>
</head>
<body>
    <p>Index body</p>
    @(await Html.PartialAsync("_SomePartial"))
    <p>Index body continuation</p>
</body>
</html>